// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-wrap-order {
    width: 100%;
    background-color: white;
  }

.input-card {
    width: 60%;
    margin-top: 5px;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    resize: none;
  }
  .input-exp {
    width: 25%;
    margin-top: 5px;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    resize: none;
  }

  .input-cvc {
    width: 20%;
    margin-top: 5px;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    resize: none;
  }

 .error-message {
    text-align: center;
  }
  